MyOrg/src/flows/New_Customer_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Prospecting</name>
        <choiceText>Prospecting</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Qualification</name>
        <choiceText>Qualification</choiceText>
        <dataType>String</dataType>
    </choices>
    <formulas>
        <name>Closeddate</name>
        <dataType>Date</dataType>
        <expression>{!$System.OriginDateTime} + 30</expression>
    </formulas>
    <interviewLabel>&apos;New Customer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>&apos;New Customer Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Acc_create</name>
        <label>Acc create</label>
        <locationX>234</locationX>
        <locationY>207</locationY>
        <assignRecordIdToReference>Accountidis</assignRecordIdToReference>
        <connector>
            <targetReference>Contact_create</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Contact_create</name>
        <label>Contact create</label>
        <locationX>231</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>opp_create</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>opp_create</name>
        <label>opp create</label>
        <locationX>240</locationX>
        <locationY>437</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Opportunity_Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <screens>
        <name>All</name>
        <label>All</label>
        <locationX>233</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Acc_create</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Opportunity Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Opportunity_Stage</name>
            <choiceReferences>Prospecting</choiceReferences>
            <choiceReferences>Qualification</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>All</startElementReference>
    <variables>
        <name>Accountidis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
